
  .fa-check .fa-time .fa-question {
    color: gray;
  }


  .pending_status {
   color: orange;
  }
  .confirmed_status {
   color: green;
  }
  .cancelled_status {
   color: red;
  }



  h2 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .status {
    select {
      position: relative;
      display: inline-block;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size:12px;
    }
  }



