.showpage-container {
  background: white;
}

.narrowed_container {
  padding: 8px;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(210, 212, 217);
  border-radius: 8px;
  opacity: 0.9;
}

#item_title {
  padding: 24px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  opacity: 1;
}

#item_photo {
  margin: 16px;
  text-align: center;
  opacity: 1;
}

.item_details {
  margin: 16px;
  text-align: center;
}

.item_details p {
  color: rgb(93, 95, 99);
}

#form_map {
  width: 800px;
}

#form {
  background: rgb(219, 221, 225);
  padding: 16px;
  color: rgb(93, 95, 99);
  border: 2px solid gray;
  border-radius: 5px;
  width: 240px;
}

.map_container {
  display: flex;
  justify-content: space-between;
}

.return-button {
  background-color: rgb(231, 235, 239);
  color: white;
  margin-top: 8px;
  border: solid 1px gray;
}

