<div class="banner flex-container bannerhomepage" id="searchbar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/54DVdfEv5mA/maxresdefault.jpg);">
  <!-- <h1>Pages#home</h1> -->

  <%= form_tag items_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an item"
    %>
    <%= button_tag "Submit", type: :submit %>
  <% end %>
</div>

