
<div class="banner flex-container bannerhomepage" id="searchbar">

  <h1>Easy DJ</h1>


  <%= form_tag items_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an item"
    %>


  <%= button_tag(class: "btn btn-default", type: :submit) do %>
       <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>







