<div class="container">

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">
<%= form_tag items_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "find an item"
  %>
  <%= button_tag "submit", type: :submit %>
<% end %>
</div>

</div>
