.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/54DVdfEv5mA/maxresdefault.jpg);
  height: calc(100vh - 56px);
  background-position: center bottom;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  padding-bottom: 30px;
  letter-spacing: 8px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 100px;
  opacity: 0.6px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt-rotate {
  text-align: center;
  color: white;
  font-size: 20px;
  opacity: 0.8;
}

