.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.fa-home {
  color: #495057;
  font-size: 30px;
}


.nav-link {
  color: #495057 !important;
}

