body{
  padding-top:56px;
}
#form-search {
  padding-top: 50px;
}

.navbar-lewagon {
  z-index: 10;
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  // opacity:0.6;
  border-bottom: solid 1px rgba(217, 220, 221, 0.8)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.fa-napster {
  color: #495057;
  font-size: 30px;
  justify-content: center;
  align-content: center;
  display:flex;
  // margin-right:20px;
}


.nav-link {
  color: #495057 !important;
}
.flex-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

