

body{
  padding-top:56px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index:100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.fa-napster {
  color: #495057;
  font-size: 30px;
  justify-content: center;
  align-content: center;
  display:flex;
}


.nav-link {
  color: #495057 !important;
}

