#searchbar .form-control {

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  font-size: 22px;
  font-weight: 30px;
  line-height: 1.8;
  margin-top: 1px;
  margin-right: 20px;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  height: 60px;
  width: 260px;

}

#searchbar button {

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  font-size: 20px;
  line-height: 1.8;
  margin-top: 6px;
  color: #495057;
  border-radius: 6px;
  align-items: center;
  justify-content:center;
  height: 60px;
  width: 260px;

}

.form-inline {
  margin-bottom:100px;
}

 .fa_search {
  color: #495057;
  font-size: 30px;
}
